.help-title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-fill: #1AC8ED;
    -fx-font-family: Arial;
}


.help-text {
    -fx-font-size: 18px;
    -fx-fill: #F28482;
    -fx-font-family: Cooper Blac;
}

.homeView-button {
    -fx-background-color: #F7EDE2;
    -fx-text-fill: #F28482;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-border-radius: 5px;
}

.homeView-button:hover {
    -fx-background-color: #F28482;
    -fx-text-fill: #F7EDE2;
}

.homeView-button:pressed {
    -fx-background-color: #84A59D;
}

.homeView-title {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-fill: #ffffff;
    -fx-font-family: Arial;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,0,1 );
}
.loadGameView-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #F28482;
    -fx-font-family: Arial;
}
.table-view {
    -fx-background-color: #F7EDE2;
    -fx-text-fill: #F28482;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-border-radius: 5px;
}

.help-button {
    -fx-background-color: #ffe5ba;
    -fx-text-fill: #ff9f05;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-border-radius: 5px;
}

.help-button:hover {
    -fx-background-color: #ff9f05;
    -fx-text-fill: #ffe5ba;
}

.gameView-story-title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-fill: #32746D;
    -fx-font-family: Arial;
}

.gameView-passage-title {
    -fx-font-size: 16px;
    -fx-fill: #D66BA0;
    -fx-font-family: Arial;
}

.gameView-passage-content {
    -fx-wrap-text: true;
    -fx-font-size: 15px;
}

.gameView-link-button {
    -fx-background-color: #59c989;
    -fx-text-fill:#006949;
}

.gameView-link-button:hover {
    -fx-background-color: #F4E4BA;
    -fx-text-fill: #006949;
}

.playerView-title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-fill: #32746D;
    -fx-font-family: Arial;
}

.playerView-player-button {
    -fx-background-color: #F7EDE2;
    -fx-text-fill: #db4f87;
}

.playerView-player-button:hover {
    -fx-background-color: #457dcc;
    -fx-text-fill: #F7EDE2;
}

.playerView-goBack-button {
    -fx-background-color: #e9cffa;
    -fx-text-fill: #975eff;
}

.playerView-goBack-button:hover {
    -fx-background-color: #975eff;
    -fx-text-fill: #e9cffa;
}

.playerView-create-button {
    -fx-background-color: #a2dea7;
    -fx-text-fill: #004706;
}

.playerView-create-button:hover {
    -fx-background-color: #004706;
    -fx-text-fill: #a2dea7;
}

.playGameView-root {
    -fx-background-color: #d9e7ff;
}

.goalsAndStoryView-title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-fill: #32746D;
    -fx-font-family: Arial;
}

.goldGoalButton, .healthGoalButton, .scoreGoalButton, .inventoryGoalButton {
    -fx-background-color: #F7EDE2;
    -fx-text-fill: #db4f87;
}

.goldGoalButton:hover, .healthGoalButton:hover, .scoreGoalButton:hover, .inventoryGoalButton:hover {
    -fx-background-color: #457dcc;
    -fx-text-fill: #F7EDE2;
}

.goldGoalButton:selected {
    -fx-background-color: #84A59D;
}

.healthGoalButton:selected {
    -fx-background-color: #84A59D;
}

.scoreGoalButton:selected {
    -fx-background-color: #84A59D;
}

.inventoryGoalButton:selected {
    -fx-background-color: #84A59D;
}

.goalsAndStoryView-goalText {
    -fx-font-size: 16px;
    -fx-fill: #D66BA0;
    -fx-font-family: Arial;
    -fx-padding: 15px;
}

.goalsAndStoryView-goalValue {
    -fx-font-size: 16px;
    -fx-fill: #32746D;
    -fx-font-family: Arial;
    -fx-padding: 15px;
}

.gameView-player-info {
    -fx-font-size: 16px;
    -fx-fill: #EF709D;
    -fx-font-family: Arial;
    -fx-padding: 15px;
}

.gameView-returnHome-button {
    -fx-background-color: #3772FF;
    -fx-text-fill: #FAEDCA;
}

.gameView-returnHome-button:hover {
    -fx-background-color: #F2C078;
    -fx-text-fill: #FE5D26;
}

.playerView-slider-text {
    -fx-font-size: 14px;
    -fx-fill: #8C2155;
    -fx-font-family: Arial;
}

.playerView-slider .track {
    -fx-background-color: #AF7595;
}