.help-title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-fill: #72A1E5;
    -fx-font-family: Arial;
}


.help-text {
    -fx-font-size: 18px;
    -fx-fill: #F28482;
    -fx-font-family: Cooper Blac;
}

.homeView-button {
    -fx-background-color: #F7EDE2;
    -fx-text-fill: #F28482;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-border-radius: 5px;
}

.homeView-button:hover {
    -fx-background-color: #F28482;
    -fx-text-fill: #F7EDE2;
}

.homeView-button:pressed {
    -fx-background-color: #72A1E5;
}

.homeView-title {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-fill: #ffffff;
    -fx-font-family: Arial;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,0,1 );
}
.loadGameView-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #F28482;
    -fx-font-family: Arial;
}
.table-view {
    -fx-text-fill: #F28482;
    -fx-background-color: #F7EDE2;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-border-radius: 5px;
}

.help-button {
    -fx-background-color: #72A1E5;
    -fx-text-fill: #F7EDE2;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-border-radius: 5px;
}

.help-button:hover {
    -fx-background-color: #F7EDE2;
    -fx-text-fill: #72A1E5;
}

.gameView-story-title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-fill: #32746D;
    -fx-font-family: Arial;
}

.gameView-passage-title {
    -fx-font-size: 16px;
    -fx-fill: #D66BA0;
    -fx-font-family: Arial;
}

.gameView-passage-content {
    -fx-wrap-text: true;
    -fx-font-size: 15px;
}

.gameView-link-button {
    -fx-background-color: #F7EDE2;
    -fx-text-fill: #F28482;
}

.gameView-link-button:hover {
    -fx-background-color: #F28482;
    -fx-text-fill: #F7EDE2;
}

.playerView-title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-fill: #32746D;
    -fx-font-family: Arial;
}

.playerView-player-button {
    -fx-background-color: #F28482;
    -fx-text-fill: #F7EDE2;
}

.playerView-player-button:hover {
    -fx-background-color: #F7EDE2;
    -fx-text-fill: #F28482;
}

.playerView-goBack-button {
    -fx-background-color: #F28482;
    -fx-text-fill: #F7EDE2;
}

.playerView-goBack-button:hover {
    -fx-background-color: #F7EDE2;
    -fx-text-fill: #F28482;
}

.playerView-create-button {
    -fx-background-color: #F28482;
    -fx-text-fill: #F7EDE2;
}

.playerView-create-button:hover {
    -fx-background-color: #F7EDE2;
    -fx-text-fill: #F28482;
}

.playGameView-root {
    -fx-background-color: #d9e7ff;
}

.goalsView-title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-fill: #5460ff;
    -fx-font-family: Arial;
}

.goldGoalButton, .healthGoalButton, .scoreGoalButton, .inventoryGoalButton {
    -fx-background-color: #F28482;
    -fx-text-fill: #F7EDE2;
}

.goldGoalButton:hover, .healthGoalButton:hover, .scoreGoalButton:hover, .inventoryGoalButton:hover {
    -fx-background-color: #F7EDE2;
    -fx-text-fill: #F28482;
}

.goldGoalButton:selected, .healthGoalButton:selected, .scoreGoalButton:selected, .inventoryGoalButton:selected {
    -fx-background-color: #72A1E5;
}

.goalsView-goalText {
    -fx-font-size: 16px;
    -fx-fill: #F28482;
    -fx-font-family: Arial;
    -fx-padding: 15px;
}

.goalsView-goalValue {
    -fx-font-size: 16px;
    -fx-fill: #F28482;
    -fx-font-family: Arial;
    -fx-padding: 15px;
}

.gameView-player-info {
    -fx-font-size: 16px;
    -fx-text-fill: #F28482;
    -fx-font-family: Arial;
    -fx-padding: 15px;
}

.gameView-returnHome-button:hover, .goalsView-backButton:hover {
    -fx-background-color: #F7EDE2;
    -fx-text-fill: #72A1E5;
}

.gameView-returnHome-button, .goalsView-backButton {
    -fx-background-color: #72A1E5;
    -fx-text-fill: #F7EDE2;
}

.playerView-slider-text {
    -fx-font-size: 14px;
    -fx-fill: #F28482;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
}

.playerView-slider .track {
    -fx-background-color: linear-gradient(to left, #F28482, #ffdc00);
}

.playerView-slider .thumb {
    -fx-pref-height: 30px;
    -fx-pref-width: 10px;
    -fx-background-color: #F28482;
}

.loadGameView-scrollPane {
    -fx-background-color: #FFF2F1;
}

.loadGameView-scrollPane .loadGameView-text {
    -fx-fill: #F28482;
}

.loadGameView-scrollPane .thumb {
    -fx-background-color: #F28482;
    -fx-background-radius: 10;
}

.loadGameView-scrollPane .scroll-bar .track {
    -fx-background-color: #FDFFFC;
}

.loadGameView-scrollPane .scroll-bar .increment-button,
.loadGameView-scrollPane .scroll-bar .decrement-button {
    -fx-shape: " ";
    -fx-padding: 0;
    -fx-background-color: #F28482;
}

.loadGameView-loadGameButton {
    -fx-background-color: #F28482;
    -fx-text-fill: #FFF2F1;
}

.loadGameView-loadGameButton:hover {
    -fx-background-color: #F28482;
    -fx-text-fill: #703D57;
}

.difficultyButton-easy {
    -fx-background-color: #d2abff;
    -fx-text-fill: #FFF2F1;
}

.difficultyButton-normal {
    -fx-background-color: #af6efa;
    -fx-text-fill: #FFF2F1;
}

.difficultyButton-hard {
    -fx-background-color: #8420f7;
    -fx-text-fill: #FFF2F1;
}

.difficultyButton-easy:hover, .difficultyButton-normal:hover, .difficultyButton-hard:hover {
    -fx-background-color: #FFF2F1;
    -fx-text-fill: #F28482;
}

.difficultyButton-easy:selected, .difficultyButton-normal:selected, .difficultyButton-hard:selected {
    -fx-background-color: #72A1E5;
    -fx-text-fill: #FFF2F1;
}

.goalsView-saveButton, .goalsView-customButton, .goalsView-playButton, .goalsView-customButton {
    -fx-background-color: #fab255;
    -fx-text-fill: #ffeeb3;
}

.goalsView-saveButton:hover, .goalsView-customButton:hover, .goalsView-playButton:hover,
.goalsView-customButton:hover {
    -fx-background-color: #ffeeb3;
    -fx-text-fill: #faa73c;
}




